<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="author" content="Incredible Programmer">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" type="text/css">
</head>
<body class="container shadow-lg col-md-8 border mt-1" >

<div class="mb-3">
    <div style="float:right;" class="mt-2">
    {% block nav %}
    {% endblock %}
</div>
    <img src="{% static 'task_tracker.png' %}" width="50" draggable="false" height="50" alt="task_tracker.png">
<a href="{% url 'home' %}" style="text-decoration:none; font-family:monospace;" class="h1 text-dark">Task Tracker</a>

</div>

<div class="mb-5">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>