{% extends 'base.html' %}

{% block nav %}<a href="{% url 'tasksmanager' %}" class="btn btn-outline-secondary">Tasks manager</a>{% endblock %}
{% block content %}
<h3>{{ task.title }}</h3>

{% if task.description %}
<h6>{{ task.description }}</h6>
{% else %}
<i class="text-danger">No task description <a href="{% url 'task_update' task.id %} " style="text-decoration:none;">add some?</a></i>
{% endif %}

<p>Created at {{ task.date_created }}</p>
<p> Expires at {{ task.expiry_date }}</p>
<center>
    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete &cross;</a>
    <a href="{% url 'task_update' task.id %}" class="btn btn-success">Update task</a>
</center>
<div class="">
    {% if error_message %}
        <div class="alert alert-danger mt-2 alert-dismissible fade show" role="alert">
            <h4 style="font-family:monospace;">Warning: {{ error_message }}</h4>
        </div>
    {% else %}
    <div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
    <h4 style="font-family:monospace;">
        {% if msg %}{{msg}}{% else %}
        Note: By default "<span class="text-success">{{ task.title }}</span>" will be deleted automatically  when it expires.
        {% endif %}
    </h4>
    </div>
    {% endif %}
</div>
{% endblock %}