{% extends 'base.html' %}

{% block nav %}
<a href="/" class="btn btn-outline-info">Home</a>
{% endblock %}

{% block content %}
{% if tasks %}
<center>
    <form action="{% url 'search' %}" method="get">
        <input placeholder="Search for tasks" name="q" type="text" style="border-radius:20px" class="form-control">
        <button type="submit" class="btn btn-primary btn-sm mt-2">Search</button>
    </form>
</center>
{% endif %}
<h4>Create your tasks here.</h4>
<form action="{% url 'add_task' %}" method="get">
    <h5><label for="title">Task title</label></h5>
    <input id="title" maxlength="70" type="text" required class="w-50 form-control mb-4" placeholder="Task title" autofocus
           name="title">
    <input type="text" class="form-control" name="description" placeholder="Describe your tasks">
    <button type="submit" class="btn btn-dark w-50 mt-3">Save &plus;</button>
</form>
<h4 class="mt-5">View your tasks details here.</h4>

{% if tasks %}
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item m-2">
        <a href="{% url 'task_detail' task.id %}" class="btn btn-outline-primary" style="float:right;">Detail</a>
        <a href="{% url 'delete_task' task.id %}" class="btn btn-outline-danger" style="float:right;">Delete &cross;</a>
        <h6>{{ task.title }}</h6>
        {% if error_message %}
            <span class="text-danger">Warning: {{ error_message }}</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    There are no tasks <a href="#" class="alert-link">add some here &uarr;</a>
</div>
{% endif %}

{% endblock %}
